KAKAO_REST_KEY = "7a5bec3e0b261fce44a9a3914d9a95da"
NAVER_CLIENT_ID="li1aubp55h"
NAVER_CLIENT_SECRET="196qrXGPPAvaMJknomzlQ0V1mDwIGhfB3cU8mgpw"
GOOGLE_API_KEY="AIzaSyBPXkcqvKjlv4pHs6Y37U6GTMXYaGm9ydw"
AVER_SEARCH_CLIENT_ID="lIInmple56"
NAVER_SEARCH_CLIENT_SECRET="kitAjLm5Wo9Pfh14U4e0"

